{% extends "base_template.html" %}

{% block title %}View bot{% endblock %}

{% block content %}

    <h1>{{ title }}</h1>

    <div class="mb-4"></div>

    <div class="row h-100">
        <div class="col-12 col-lg-6">
            <form method="POST"
                  action="{{ url_for('bot.edit_bot', bot_id=form.id.data) if form.id.data else url_for('bot.create_bot') }}"
                  class="needs-validation" novalidate>
                {{ form.hidden_tag() }}

                <h1 class="h3 mb-3">Bot info</h1>

                <div class="row form-group">
                    <div class="col-6">
                        {{ form.name.label(class="form-label") }}
                        {{ form.name(class="form-control", placeholder="Enter the bot name", required=true) }}
                        {% for error in form.name.errors %}
                            <span style="color: red;">{{ error }}</span>
                            <br>
                        {% endfor %}
                    </div>
                </div>

                <div class="mb-4"></div>

                <div class="row form-group">
                    <div class="col-6">
                        {{ form.service_name.label(class="form-label") }}
                        {{ form.service_name(class="form-control", required=true) }}
                        {% for error in form.service_name.errors %}
                            <span style="color: red;">{{ error }}</span>
                            <br>
                        {% endfor %}
                    </div>
                    <div class="col-6">
                        {{ form.service_url.label(class="form-label") }}
                        {{ form.service_url(class="form-control", placeholder="schema://example/url", required=true) }}
                        {% for error in form.service_url.errors %}
                            <span style="color: red;">{{ error }}</span>
                            <br>
                        {% endfor %}
                    </div>
                </div>

                <div class="mb-4"></div>

                <div class="row form-group">

                    <div class="col-6">
                        {{ form.enabled(default="checked", class="form-check-input") }}
                        {{ form.enabled.label(class="form-label") }}
                        {% for error in form.enabled.errors %}
                            <span style="color: red;">{{ error }}</span>
                            <br>
                        {% endfor %}
                    </div>

                </div>

                <div class="mb-4"></div>

                <h1 class="h3 mb-3">Send messages</h1>

                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Enabled</th>
                                <th>Event</th>
                            </tr>
                            <tbody>
                        <tr>
                            <td>
                                {{ form.on_download_dataset(default="checked", class="form-check-input") }}
                            </td>
                            <td>
                                {{ form.on_download_dataset.label(class="form-label") }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form.on_download_file(default="checked", class="form-check-input") }}
                            </td>
                            <td>
                                {{ form.on_download_file.label(class="form-label") }}
                            </td>
                        </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="mb-4"></div>

                <div class="row form-group">
                    <div class="col-12 mt-3 d-flex align-items-center gap-2">
                        {{ form.submit(class="btn btn-primary", id="save-button", disabled=form.is_tested.data == 'false') }}
                        {{ form.test(class="btn btn-primary", id="test-button", disabled=form.is_tested.data == 'true') }}
                        {% if form.test.errors %}
                            <span style="color: red; font-size: 1.5em;">✖</span>
                        {% elif form.is_tested.data == 'true' %}
                            <span style="color: green; font-size: 1.5em;">✔</span>
                        {% endif %}
                    </div>
                </div>
                <div class="mb-4"></div>
                <div class="row form-group d-flex align-items-center">
                    {% for error in form.test.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                    {% if form.is_tested.data == 'true' %}
                        <p style="color: green;">Message was successfully sent, please check it arrived.</p>
                    {% endif %}
                </div>
            </form>

        </div>
        <div class="col-12 col-lg-6 h-100">
            <div class="card">
                <div class="card-body">
                    <p class="card-text" id="guide-content">
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('bot.scripts') }}"></script>
{% endblock %}
