{% extends "base_template.html" %}

{% block title %}My bots{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-6">
            <h1>My bots</h1>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <a href="{{ url_for('bot.create_bot') }}"
               class="btn btn-primary d-flex justify-content-center align-items-center">Create bot</a>
        </div>
    </div>

    <div class="mb-4"></div>

    {% if bots %}
        <div class=" col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Service</th>
                            <th>Status</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for bot in bots %}
                            <tr>
                                <td><strong>{{ bot.name }}</strong></td>
                                <td>{{ bot.service_name }}</td>
                                <td>
                                    {% if bot.enabled %}
                                        <span class="badge bg-success">Enabled</span>
                                    {% else %}
                                        <span class="badge bg-danger">Disabled</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ url_for('bot.edit_bot', bot_id=bot.id) }}">
                                        <i data-feather="edit"></i>
                                    </a>
                                    <form id='delete_{{ bot.id }}'
                                          action="{{ url_for('bot.delete_bot', bot_id=bot.id) }}" method="post"
                                          class="d-inline">
                                        <a href="javascript:void(0);" onclick="deleteBot('{{ bot.id }}');"
                                           class="text-danger">
                                            <i data-feather="trash-2"></i>
                                        </a>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    {% else %}
        <p>You have no bots registered.</p>
    {% endif %}

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('bot.scripts') }}"></script>
{% endblock %}
