{% extends "base_template.html" %}

{% block title %}My bots{% endblock %}

{% block content %}

    <h1 class="h3 mb-3">My bots</h1>

    {% if bots %}
        <ul>
            {% for bot in bots %}
                <li>
                    <strong>{{ bot.name }}</strong>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no bots.</p>
    {% endif %}

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('bot.scripts') }}"></script>
{% endblock %}
